
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}


.left {
    flex: 1;
    background-image: url('https://img.cdndsgni.com/preview/10320791.jpg');
    background-size: cover;
    background-position: center;
}

.right {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#b795ee23;
}


.login-container {
    width: 300px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(6, 4, 8, 0.2);
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.btn-link {
    display: block;
    text-decoration: none;
    color: #ff0000;
    margin-top: 10px;
}

.btn-link:hover {
    text-decoration: underline;
}


.btn {
    background-color:red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn.google {
    background-color: red;
}


@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .left {
        height: 40vh;
    }
    .right {
        height: 60vh;
    }
}
